<div class="modal-header">
    <span class="dialog-title"> <i class="fa fa-picture-o fa-fw fa-lg"></i> Galeri</span>

</div>
<div class="modal-body" style="min-height: 50vh;">
    <div ng-switch="view">
        <div ng-switch-default>
            <div ng-switch="images.length">
                <div ng-switch-default style="overflow-y: auto; height: 300px; padding: 15px 15px;">
                    <div ng-repeat="image in images track by $index" class="image-list">
                        <img ng-src="{{image.base64}}" alt="not show" tooltip-placement="bottom" uib-tooltip="{{image.imageName}}" ng-click="doubleClick(image)">
                        <div class="delete-list" tooltip-placement="bottom" uib-tooltip="hapus gambar ini?" ng-click="deleteImage($index)">
                            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="0">
                    <div class="add-image" ng-click="addImage('add')">
                        <i class="fa fa-plus"></i> <span>Tambah Gambar</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="add">
            <form name="form" class="form-horizontal" method="post" ng-submit="form.$valid && saveImage(file)" id="form" enctype="multipart/form-data" style="width: 100%;">
                <div class="form-group">
                    <label class="control-label col-xs-3" for="file">Pilih Gambar</label>
                    <div class="col-xs-7">
                        <input name='file' type='file' ng-model='file' required accept='image/jpeg , image/png' maxsize="200" base-sixty-four-input>
                    </div>
                    <div class="col-xs-offset-3 col-xs-7">
                        <span ng-show="form.file.$error.maxsize" style="color: red;">Ukuran Maksimal Gambar 200 kb !</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-7">
                        <div class="image-preview">
                            <img ng-hide="(!file)" ng-show="(file)" ng-src="{{file?('data:'+file.filetype+';base64,'+file.base64):null}}" alt=" gambar belum dipilih...!!!">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-7">
                        <button class="btn btn-primary" type="submit" ng-disabled="form.$pristine || form.$invalid">Simpan</button>
                        <button class="btn btn-default" type="button" ng-click="addImage('list')">Batal</button>
                    </div>
                </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="pull-left">
        <div class="btn btn-primary" ng-click="addImage('add')" ng-hide="(view === 'add')" ng-show="(view !== 'add')">
            <i class="fa fa-plus"></i> <span> Tambah Gambar</span>
        </div>
    </div>
    <button class="btn btn-danger" ng-click="close()" ng-hide="(view === 'add')" ng-show="(view !== 'add')">Tutup</button>
</div>