<div class="row-fluid">

    <div class="col-lg-6 col-md-6" ng-switch="activeUsers.length">
        <h3 class="page-header"><i class="fa fa-cog fa-lg"></i> Daftar Pengguna Aktif
        </h3>

        <table ng-table="dataTable" class="table table-responsive table-striped table-hover table-bordered" ng-switch-default>
            <tr ng-repeat="token in $data">
                <td data-title="'No'" align="center">
                    {{$index+1+(dataTable.count()*(dataTable.page()-1))}}
                </td>
                <td data-title="'ID Pengguna'" align="center">
                    <span ng-show="token.user.nis" ng-hide="!(token.user.nis)">
                        {{token.user.nis}} 
                    </span>
                    <span ng-show="token.user.nip" ng-hide="!(token.user.nip)">
                            {{token.user.nip}} 
                    </span>

                </td>
                <td data-title="'Nama Pengguna'" align="center">
                    {{token.user.firstName +' '+token.user.lastName}}
                </td>
                <td data-title="'Status Pengguna'" align="center">
                    <span ng-show="token.user.nis" ng-hide="!(token.user.nis)">
                            <b><i>Siswa</i></b>
                     </span>
                    <span ng-show="token.user.nip" ng-hide="!(token.user.nip)">
                            <b><i>Guru</i></b> 
                    </span>

                </td>
                <td data-title="' '" align="center">
                    <a class="btn btn-danger" ng-click="toggleModal(token)"> <i class="fa fa-fw fa-power-off fa-lg" title="keluarkan"></i></a>
                </td>
            </tr>
        </table>

        <div ng-switch-when="0">
            <empty-table colspan="5" headers="{{['ID Pengguna','Nama Pengguna','Status Pengguna']}}" content="Belum ada pengguna yang aktif"></empty-table>
        </div>

    </div>
</div>