<form class="form" role="form" ng-submit="saveQuestion()" style="width:100%" novalidate>

  <div class="form-group">
    <div class="col-xs-12" style="margin-top:10px">
      <label class="control-label">Pilihan Jawaban :</label>
      <label class="btn  btn-default pull-right" ng-click="showOneEditor(2,true)" title="tambaha pilihan jawaban" ng-hide="listOptionQuestions.length >=4 ">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </label>
    </div>

    <div ng-show="showEditor.option" class="col-xs-12">
      <textarea ui-tinymce="tinymceOptions" ng-model="optionModel"></textarea>
      <label class="btn btn-primary" ng-click="saveOption(optionModel)" style="margin-top:10px">
        Simpan Jawaban</label>
      <label class="btn btn-default" ng-click="showOneEditor(2,false)" style="margin-top:10px">
        Batal</label>
    </div>
    <div ng-show="!showEditor.option" class="col-xs-12">

      <div ng-switch="listOptionQuestions.length">
        <table class="table table-bordered" ng-switch-default>
          <thead>
            <tr>
              <th width="50">Index</th>
              <th>Pertanyaan</th>
              <th width="50"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="optionQuestion in listOptionQuestions">
              <td>{{optionQuestion.index}}</td>
              <td>
                <p ng-bind-html="trustAsHtml(optionQuestion.option)"></p>
              </td>
              <td>
                <label class="btn btn-default" ng-click="deleteOption(optionQuestion)">
                  <i class="fa fa-fw fa-trash fa-lg"></i></label>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered" ng-switch-when="0">
          <thead>
            <tr>
              <th width="50">Index</th>
              <th>Pertanyaan</th>
              <th width="50"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" align="center">pilihan jawaban belum tersedia</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12" style="margin-top:10px">
      <label class="control-label">Tambahkan Soal :</label>
      <label class="btn  btn-default pull-right" ng-click="showPanel(1,true)" title="tambaha pilihan jawaban" ng-show="!showEditor.panel">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </label>
    </div>

    <div ng-show="showEditor.panel" class="col-xs-12">
      <div class="panel panel-default" style="width:100%;height:100%;overflow-y:auto;padding:10px;" ng-switch="qPassageType">
        <!--Star:: Ini Hanya Sementara -->
        <div class="form-group">
          <div class="col-xs-12" style="margin-bottom:5px">
            <label class="control-label pull-left" for="tag">
              Tag * :</label>
            <label class="btn  btn-default pull-right" ng-show="tags.showTag" ng-click="tags.showTag = false" title="tambah tag">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </label>

            <button type="button" ng-show="!tags.showTag" class="btn  btn-default pull-right" ng-click="addTag(selectedTag); selectedTag =''">
              <i class="fa fa-plus"></i>
            </button>
            <div class="col-xs-10 pull-right" ng-show="!tags.showTag">
              <select id="tag" name="tag" class="form-control" ng-model="selectedTag">
                <option value="" ng-selected="true" ng-disabled="true">
                  <i style="color:grey">-- pilih tag --</i>
                </option>
                <option ng-repeat="option in tags.availableOption" value="{{option}}">{{option.tagName}}</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="panel panel-default" style="min-height:50px; max-height:100px; padding:5px; overflow-y:auto">
              <div ng-repeat="tag in tags.listTagSelcted">
                <div class="label label-primary col-xs-3" style="margin-left:2px;margin-top:2px; ">
                  <label class="pull-left" style="text-overflow:ellipsis">
                    {{tag.tagName}}
                  </label>
                  <label class="click-able pull-right" ng-click="deleteTag($index)">
                    <i class="fa fa-times fa-fw"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12" style="margin-top:10px">
            <label class="control-label">Pertanyaan * :</label>
            <label class="btn  btn-default pull-right" ng-show="!showEditor.question" ng-click="showOneEditor(1,true)" title="edit pertanyaan">
              <i class="fa fa-pencil " aria-hidden="true"></i>
            </label>
          </div>
          <div class="col-xs-12" ng-show="showEditor.question">
            <textarea ui-tinymce="tinymceOptions" ng-model="selectedQuestion.question"></textarea>
            <label class="btn btn-default" ng-click="showOneEditor(1,false)" style="margin-top:10px">
              Simpan</label>
          </div>
          <div class="col-xs-12" ng-show="!showEditor.question">
            <div class="panel panel-default" style="min-height:100px; max-height:200px; padding:5px; overflow-y:auto">
              <p ng-bind-html="trustAsHtml(selectedQuestion.question)"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-12">Kunci Jawab</label>
          <div class="col-xs-12">
            <select name="event_type" class="form-control" ng-model="selectedQuestion.key" ng-required="true">
              <option value="" ng-selected="true" ng-disabled="true">
                <i style="color:grey">-- pilih kunci jawaban --</i>
              </option>
              <option ng-repeat="option in listOptionQuestions" value="{{option.index}}">{{option.index}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-xs-12" style="margin-top:10px">Taraf Kesukaran :</label>
          <div class="col-xs-12">
            <select name="event_type" class="form-control" ng-model="selectedQuestion.key" ng-required="true">
              <option value="" ng-selected="true" ng-disabled="true">
                <i style="color:grey">-- pilih taraf kesukaran soal --</i>
              </option>
              <option value="EASY">MUDAH</option>
              <option value="MEDIUM">SEDANG</option>
              <option value="HARD">SUKAR</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12" style="margin-top:10px">
            <label class="control-label">Pembahasan :</label>
            <label class="btn  btn-default pull-right" ng-show="!showEditor.explanation" ng-click="showOneEditor(3,true)" title="edit pembahasan">
              <i class="fa fa-pencil " aria-hidden="true"></i>
            </label>
          </div>
          <div class="col-xs-12" ng-show="showEditor.explanation">
            <textarea ui-tinymce="tinymceOptions" ng-model="selectedQuestion.explanation"></textarea>
            <label class="btn btn-default" ng-click="showOneEditor(3,false)" style="margin-top:10px">
              Simpan</label>
          </div>
          <div class="col-xs-12" ng-show="!showEditor.explanation">
            <div class="panel panel-default" style="min-height:100px; max-height:200px; padding:5px; overflow-y:auto">
              <p ng-bind-html="trustAsHtml(selectedQuestion.explanation )"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12" style="margin-bottom:10px">
            <button class="btn btn-primary pull-right" role="button" type="submit" ng-hide="isCompleted" ng-disabled="eventForm.$invalid">{{isUpdate?"Ubah":"Simpan"}}</button>
          </div>
        </div>
        <!--End:: Hanya Sementara -->
      </div>

    </div>
    <div ng-show="!showEditor.panel" class="col-xs-12">

      <div ng-switch="listOptionQuestions.length">
        <table class="table table-bordered" ng-switch-default>
          <thead>
            <tr>
              <th width="50">Index</th>
              <th>Pertanyaan</th>
              <th width="50"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="optionQuestion in listOptionQuestions">
              <td>{{optionQuestion.index}}</td>
              <td>
                <p ng-bind-html="trustAsHtml(optionQuestion.option)"></p>
              </td>
              <td>
                <label class="btn btn-default" ng-click="deleteOption(optionQuestion)">
                  delete</label>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered" ng-switch-when="0">
          <thead>
            <tr>
              <th width="50">Index</th>
              <th>Pertanyaan</th>
              <th width="50"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" align="center">pilihan jawaban belum tersedia</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</form>
