<div class="row-fluid col-xs-12">
    <h3 class="page-header">
        <a title="Kembali" ui-sref="^">
            <img class="correction-head" src="images/koreksi.png" alt="">
        </a>
        Koreksi Ujian Siswa
    </h3>
    <table class="table">
        <tbody>
            <tr>
                <td width="150"> Nama Siswa</td>
                <td width="10">:</td>
                <td width="300">{{detailStudentExamine.studentName}}</td>
                <td width="150">Nama Ujian</td>
                <td width="10">:</td>
                <td width="200">{{detailStudentExamine.eventName}}</td>
            </tr>
            <tr>
                <td>NIS </td>
                <td>:</td>
                <td>{{detailStudentExamine.studentNis}} </td>
                <td>Tanggal Ujian</td>
                <td>:</td>
                <td> {{detailStudentExamine.eventDate}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="50" class="text-center">#</th>
                <th>Jawaban</th>
                <th>Jenis Soal</th>
                <th class="text-center">Hasil</th>
                <th>Kunci Jawab</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="question in detailStudentExamine.listMC track by $index">
                <td class="text-center">{{$index+1}}</td>
                <td>{{question.answer}}</td>
                <td>{{question.questionType}}</td>
                <td class="text-center">
                    <span class="corrected" ng-if="question.isCorrect">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </span>
                    <span class="uncorrected" ng-if="!question.isCorrect">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </span>
                </td>
                <td>
                    {{question.key}}
                </td>
            </tr>
        </tbody>
    </table>
</div>