<div class="row-fluid col-xs-12">
    <h3 class="page-header">
        <a title="Kembali" ui-sref="^">
            <img class="correction-head" src="images/koreksi.png" alt="">
        </a>
        Koreksi Ujian Siswa
    </h3>
    <table class="table">
        <tbody>
            <tr>
                <td width="150"> Nama Siswa</td>
                <td width="10">:</td>
                <td width="300">{{detailStudentExamine.studentName}}</td>
                <td width="150">Nama Ujian</td>
                <td width="10">:</td>
                <td width="200">{{detailStudentExamine.eventName}}</td>
            </tr>
            <tr>
                <td>NIS </td>
                <td>:</td>
                <td>{{detailStudentExamine.studentNis}} </td>
                <td>Tanggal Ujian</td>
                <td>:</td>
                <td> {{detailStudentExamine.eventDate}}</td>
            </tr>
        </tbody>
    </table>
</div>