/target/cbt-backend/**
/target/classes/**
/target/generated-sources/**
/target/generated-test-sources/**
/target/m2e-wtp/**
/target/archiver/**
/target/maven-status/**
/target/test-classes/**
/target/WEB-INF/**
/.classpath
.project
.DS_Store
/target/**
/target/cbt-backend.war
/src/main/webapp/bower_components/**
/.externalToolBuilders/**
/.tern-project
/.vscode
/.settings/**
/bin/**
/effective.pom
.settings/org.eclipse.wst.common.component
.classpath
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml

