<h3 class="page-header">
    <i class="fa fa-fw fa-bars fa-lg"></i> {{selectedQuestionBank.questionPoolName}}
    <span class="pull-right span-click-able" title="tambah soal" ng-click="showModalQuestionType = true">
        <i class="fa fa-fw fa-plus-square fa-lg"></i>
    </span>
    <a ui-sref="teacher.questionBank.qpdetail.import" class="pull-right span-click-able">
        <span class="btn btn-primary">Import Soal</span>
    </a>
</h3>

<div ng-switch="questionBanks.length">
    <table ng-switch-default ng-table="questionBankTable" class="table table-responsive table-striped table-bordered">
        <tr ng-repeat="group in data">
            <td data-title="'No'" class="centerText" style="width:50px">
                {{$index+1}}
            </td>
            <td data-title="'Group Soal'">
                {{"Soal "+ ($index+1)}}
            </td>
            <td data-title="'Tanggal dibuat'">
                {{group.createdDate | date:"dd/MM/yyyy"}}
            </td>
            <td data-title="'Jenis Soal'">
                <p ng-bind="getQGType(group.qgType)"></p>
            </td>
            <td class="centerText" style="width:100px">
                <a ui-sref="teacher.questionBank.qpdetail.qCreateOrUpdate({qType:group.qgType,qId:group.id,subjectId: selectedQuestionBank.subject.id})" class="col-md-3 col-lg-3" title="ubah">
                    <i class="fa fa-fw fa-pencil fa-lg"></i>
                </a>
                <span ng-click="toggleModalQuestionGroup(group)" class="col-md-3 col-lg-3 span-click-able" title="hapus" style="margin-left:5px">
          <i class="fa fa-fw fa-trash-o fa-lg"></i>
        </span>
            </td>
        </tr>
    </table>

    <table ng-switch-when="0" class="table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th width="50">No</th>
                <th style="text-align:center">Pertanyaan</th>
                <th style="text-align:center;width:100px">Kesulitan</th>
                <th width="100"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" align="center">soal belum ditambahkan</td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-default" ui-sref="^">Kembali</a>

<!-- This Modal is for delete confirmation -->
<modal-dialog title="Konfirmasi Hapus Data" visible="showModal" size="modal-sm">
    <div>
        Apakah anda yakin untuk menghapus pertanyaan ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="deleteQuestionGroup()">Ya</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Tidak</button>
    </div>
</modal-dialog>

<!-- This Modal is for add question -->
<modal-dialog title="Pilih Tipe Soal" visible="showModalQuestionType" size="modal-sm">
    <div>
        <input type="radio" name="questionType" value="MC" ng-model="questionType"> Soal Pilihan Ganda<br/>
        <input type="radio" name="questionType" value="TF" ng-model="questionType"> Soal Benar Salah<br/>
        <input type="radio" name="questionType" value="PASSAGE" ng-model="questionType"> Soal Wacana<br/>
        <!-- <input type="radio" name="questionType" value="MTCH" ng-model="questionType">
    Soal Mencocokkan -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="submitQuestionType(questionType)" ng-disabled="questionType == null">Pilih</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Batal</button>
    </div>
</modal-dialog>