<div class="row-fluid">

    <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('questionBank')">
        <img class="img-responsive" src="images/bank_soal1.png" alt="" onmouseover="this.src='images/bank_soal2.png'" onmouseout="this.src='images/bank_soal1.png'">
    </div>

    <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('eventManagement')">
        <img class="img-responsive" src="images/pengelolaan_acara1.png" alt="" onmouseover="this.src='images/pengelolaan_acara2.png'" onmouseout="this.src='images/pengelolaan_acara1.png'">
    </div>

    <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('chapter')">
        <img class="img-responsive" src="images/kelola_sub_materi1.png" alt="" onmouseover="this.src='images/kelola_sub_materi2.png'" onmouseout="this.src='images/kelola_sub_materi1.png'">
    </div>

    <!-- <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('settings')">
    <img class="img-responsive" src="images/pengaturan1.png" alt="" onmouseover="this.src='images/pengaturan2.png'"
    onmouseout="this.src='images/pengaturan1.png'">
  </div> -->

</div>