<div class="row-fluid col-xs-12">
  <h3 class="page-header">
    <i class="fa fa-cog fa-lg"></i>
    Ganti Kata Sandi</h3>

  <form name="changePswdForm" class="form-horizontal" role="form" style="width:80%" ng-submit="saveNewPass()" novalidate>

    <div class="form-group">
      <label class="control-label col-xs-4" for="old_pass">Kata Sandi Lama*</label>
      <div class="col-xs-6" ng-class="{ 'has-error' : changePswdForm.oldPswd.$invalid && !changePswdForm.oldPswd.$pristine}">
        <input name="oldPswd" class="form-control" id="old_pass" ng-model="data.oldPass" placeholder="sandi lama" type="password" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4" for="old_pass">Kata Sandi Baru*</label>
      <div class="col-xs-6" ng-class="{ 'has-error' : changePswdForm.newPswd.$invalid && !changePswdForm.newPswd.$pristine}">
        <input name="newPswd" class="form-control" id="new_pass" ng-model="data.newPass" placeholder="sandi baru" type="password" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4" for="old_pass">Konfirmasi Kata Sandi Baru*</label>
      <div class="col-xs-6" ng-class="{ 'has-error' : changePswdForm.confPswd.$invalid && !changePswdForm.confPswd.$pristine}">
        <input name="confPswd" class="form-control" id="new_pass" ng-model="data.confirmPass" placeholder="konfirmasi sandi baru" type="password" ng-required="true"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-4 col-xs-6">
        <button class="btn btn-primary" type="submit" ng-disabled="changePswdForm.$invalid">Simpan</button>
        <a ui-sref="^" class="btn btn-default">Batal</a>
      </div>
    </div>
  </form>
</div>
