<nav class="navbar navbar-inverse navbar-fixed-top navbar-top-std" student-nav></nav>
<div class="container" style="overflof-y:auto">
    <div class="wrapper-std">
        <div ui-view="content"></div>
        <div class="push-std"></div>
    </div>
    <div class="footer-std">
        <div class="col-xs-12">
            <hr/>
            <p>Copyright &copy; 2017, <span class="knt-credit" ng-click="openCredit()">PT. Kharisma Nusantara Teknologi</span></p>
            <div class="pull-right demo-label demo-label-std" ng-show="(type ==='demo')">
                Demo Version
            </div>
        </div>
    </div>
</div>