<h3 class="page-header" style="margin-top:0px">
  <i class="fa fa-fw fa-newspaper-o"></i>
  {{"Tambah "}}
  Soal :
  <i>{{title}}</i>
</h3>
<div class="col-xs-9 panel panel-default" ng-switch="questionType" style="padding:0px;height:550px; overflow-y:auto">
  <div ng-switch-when="MC">
    <mc-qst></mc-qst>
  </div>
  <div ng-switch-when="TF">
    <tf-qst></tf-qst>
  </div>
  <div ng-switch-when="MTCH">
    <mtch-qst></mtch-qst>
  </div>
  <div ng-switch-when="PASSAGE">
    <passage-qst></mc-qst>
  </div>
</div>

<div class="col-xs-3 panel panel-default" style="padding:0px;height:550px; overflow-y:auto">
  <uib-accordion close-others="true">
    <uib-accordion-group is-open="status.open1">
      <uib-accordion-heading>
        <i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>
        Galeri
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
      </uib-accordion-heading>
      <img src="{{image}}" style="width:25%;margin:2px" ng-repeat="image in imageGalery track by $index"></img>
    </uib-accordion-group>
  </uib-accordion>

  <div class="btn-group pull-right" style="margin-right:5px;">
    <label class="btn btn-default" title="unggah gambar" ng-click="showModal = true">
      <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
    </label>
  </div>
</div>

<modal-dialog title="Unggah gambar" visible="showModal" size="modal-md">
  <form name="fileForm" class="form-horizontal" method="post" ng-submit="uploadImage(file)" id="fileForm" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-xs-3" for="file">Pilih Gambar</label>
      <div class="col-xs-7">
        <input class="inline-block" type="file" name="file" file-model="file" data-rule-required="true" id="file" accept="image/*" upload-handle ng-required="true">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-7">
        <img class="img-responsive" src="{{image}}"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-7">
        <button class="btn btn-primary" type="submit">Simpan</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Batal</button>
      </div>
    </div>
  </form>

</modal-dialog>
