<div class="row-fluid">

    <div class="col-xs-12">

        <h3 class="page-header">
            <img src="assets/images/icon-tpls/kelola_sub_materi_1.png" alt=""> Data Sub Materi
            <button class="btn btn-primary pull-right" type="button" tooltip-placement="top" uib-tooltip="Tambah Sub Materi" ui-sref="teacher.chapter.createOrUpdate"><i class="fa fa-fw fa-plus fa-lg"></i></button>
        </h3>

        <div class="col-xs-10" ng-switch="chapters.length">
            <table class="table table-bordered" ng-switch-default>
                <thead>
                    <tr>
                        <th width="50">No</th>
                        <th>Mata Pelajaran</th>
                        <th>Nama Sub Materi</th>
                        <th width="75"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chapter in chapters">
                        <td>{{$index+1}}</td>
                        <td>
                            {{chapter.subject.subjectName}}
                        </td>
                        <td>
                            {{chapter.tagName}}
                        </td>
                        <td>
                            <label class="span-click-able" ng-click="update(chapter.id)">
                <i class="fa fa-fw fa-pencil fa-lg"></i>
              </label>
                            <label class="span-click-able" ng-click="toggleModal($index, chapter)">
                <i class="fa fa-fw fa-trash fa-lg"></i>
              </label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-switch-when="0">
                <empty-table colspan="4" headers="{{['Nama Mata Pelajaran','Nama Sub Materi']}}" content="sub materi belum di tambahkan"></empty-table>
            </div>
        </div>

    </div>

</div>