<div ng-switch="switchPanel">
    <div ng-switch-when="activation" class="row col-xs-12">
        <h3 class="page-header">
            <i class="fa fa-cog fa-lg"></i> Aktivasi Lisensi by Phone
        </h3>

        <form name="formInfo" class="form-horizontal" style="width:80%;font-weight:bolder;" ng-submit="submitActivationKey(license)">
            <div class="form-group">
                <label class="control-label col-sm-8"><b>Langkah 1: Hubungi nomor telepon di bawah ini:</b></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control " ng-disabled="true" value="021-66679292" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-8"><b>Langkah 2: Sebutkan serial number anda di bawah ini ketika ditanya:</b></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="license.license">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-8"><b>Langkah 3: Sebutkan passkey anda di bawah ini ketika ditanya:</b></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="license.passKey">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-8"><b>Langkah 4: Masukkan code aktivasi yang diberikan oleh operator:</b></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="license.activationKey">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary" type="submit" style="margin-left:15px;">Simpan</button>
                    <a ui-sref="^" class="btn btn-default">Batal</a>
                </div>
            </div>
        </form>
    </div>

    <div ng-switch-when="registration" class="row col-xs-12">
        <h3 class="page-header">
            <i class="fa fa-cog fa-lg"></i> Registrasi Lisensi
        </h3>

        <form name="licenseForm" class="form-horizontal" role="form" style="width:100%" ng-submit="saveLicense(license)" novalidate>

            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-3">Kode Lisensi*</label>
                <div class="col-sm-6" ng-class="{'has-error': licenseForm.licenseCode.$invalid && !licenseForm.licenseCode.$pristine}">
                    <input name="licenseCode" id="licenseCode" class="form-control" ng-model="license" placeholder="Inputkan Kode Lisensi" type="text" ng-required="true" />
                </div>
                <p ng-show="licenseForm.licenseCode.$invalid && !licenseForm.licenseCode.$pristine" class="help-block">
                    <i class="fa fa-times click-able" style="color:red;" title="kode lisensi tidak boleh kosong"></i>
                </p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button class="btn btn-primary" type="submit" ng-disabled="licenseForm.$invalid">Simpan</button>
                    <a ui-sref="^" class="btn btn-default">Batal</a>
                </div>
            </div>
        </form>
    </div>
</div>