<form class="form" role="form" style="width:100%" ng-submit="saveQuestion()" novalidate>
    <div class="form-group">
        <label class="control-label col-xs-12" style="margin-top:20px">Nama Soal* :</label>
        <div class="col-xs-12">
            <input type="text" required class="form-control" name="group-name" id="group-name" ng-model="questionGroup.questionGroupName">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <label class="control-label"> Sub Materi * :</label>
            <!--Select tag names Filter-->
            <ui-select multiple ng-model="selectedQuestion.tagNames" theme="bootstrap" sortable="true" close-on-select="true" style="width: 100%; height: 50px;">
                <ui-select-match placeholder="pilih sub materi...">{{$item.tagName}}</ui-select-match>
                <ui-select-choices repeat="tag in tags.availableOption | propsFilter: {tagName: $select.search}">
                    <div ng-bind-html="tag.tagName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="margin-top:20px">
            <label class="control-label">Pertanyaan* :</label>
        </div>
        <div class="col-xs-12">
            <div class="btn btn-default tinymce-add-image" ng-click="showImagesPanel('selectedQuestion.question')">
                <i class="fa fa-picture-o"></i> Galeri
            </div>
            <textarea ui-tinymce="tinymceQuestion" ng-model="selectedQuestion.question" ng-required="true"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12" style="margin-top:20px">Kunci Jawab* :</label>
        <div class="col-xs-12">
            <select name="key" class="form-control" ng-model="selectedQuestion.key" ng-required="true">
        <option value="" ng-disabled="true">
          <i style="color:grey">-- pilih kunci jawaban --</i>
        </option>
        <option value="true">Benar</option>
        <option value="false">Salah</option>
      </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12" style="margin-top:20px">Taraf Kesukaran* :</label>
        <div class="col-xs-12">
            <select name="difficulty" class="form-control" ng-model="selectedQuestion.difficulty" ng-required="true">
        <option value="" ng-selected="true" ng-disabled="true">
          <i style="color:grey">-- pilih taraf kesukaran soal --</i>
        </option>
        <option value="EASY">MUDAH</option>
        <option value="MEDIUM">SEDANG</option>
        <option value="HARD">SUKAR</option>
      </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="margin-top:20px">
            <label class="control-label">Pembahasan* :</label>
        </div>
        <div class="col-xs-12">
            <div class="btn btn-default tinymce-add-image" ng-click="showImagesPanel('selectedQuestion.explanation')">
                <i class="fa fa-picture-o"></i> Galeri
            </div>
            <textarea ui-tinymce="tinymceExplanation" ng-model="selectedQuestion.explanation" ng-required="true"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="margin-bottom:10px">
            <hr/>
            <a ui-sref="^" class="btn btn-default pull-right" role="button" style="margin-left:5px">Batal</a>
            <button class="btn btn-primary pull-right" role="button" type="submit" ng-hide="isCompleted" ng-disabled="eventForm.$invalid">{{"Simpan"}}</button>
        </div>
    </div>

</form>