<form class="form" role="form" style="width:100%" ng-submit="saveQuestion()" novalidate>

    <div class="form-group">
        <div class="col-xs-12" style="margin-bottom:5px">
            <label class="control-label pull-left" for="tag">
        Tag * :</label>
            <label class="btn  btn-default pull-right" ng-show="tags.showTag" ng-click="tags.showTag = false" title="tambah tag">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </label>

            <button type="button" ng-show="!tags.showTag" class="btn  btn-default pull-right" ng-click="addTag(selectedTag); selectedTag =''">
        <i class="fa fa-plus"></i>
      </button>
            <div class="col-xs-10 pull-right" ng-show="!tags.showTag">
                <select id="tag" name="tag" class="form-control" ng-model="selectedTag">
          <option value="" ng-selected="true" ng-disabled="true">
            <i style="color:grey">-- pilih tag --</i>
          </option>
          <option ng-repeat="option in tags.availableOption" value="{{option}}">{{option.tagName}}</option>
        </select>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default" style="min-height:50px; max-height:100px; padding:5px; overflow-y:auto">
                <div ng-repeat="tag in selectedQuestion.tagNames">
                    <div class="label label-primary col-xs-3" style="margin-left:2px;margin-top:2px; ">
                        <label class="pull-left" style="text-overflow:ellipsis">
              {{tag.tagName}}
            </label>
                        <label class="click-able pull-right" ng-click="deleteTag($index)">
              <i class="fa fa-times fa-fw"></i>
            </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="margin-top:20px">
            <label class="control-label">Pertanyaan* :</label>
        </div>
        <div class="col-xs-12">
            <textarea ui-tinymce="tinymceQuestion" ng-model="selectedQuestion.question" ng-required="true"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12" style="margin-top:20px">Kunci Jawab* :</label>
        <div class="col-xs-12">
            <select name="key" class="form-control" ng-model="selectedQuestion.key" ng-required="true">
        <option value="" ng-disabled="true">
          <i style="color:grey">-- pilih kunci jawaban --</i>
        </option>
        <option value="true">Benar</option>
        <option value="false">Salah</option>
      </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12" style="margin-top:20px">Taraf Kesukaran* :</label>
        <div class="col-xs-12">
            <select name="difficulty" class="form-control" ng-model="selectedQuestion.difficulty" ng-required="true">
        <option value="" ng-selected="true" ng-disabled="true">
          <i style="color:grey">-- pilih taraf kesukaran soal --</i>
        </option>
        <option value="EASY">MUDAH</option>
        <option value="MEDIUM">SEDANG</option>
        <option value="HARD">SUKAR</option>
      </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="margin-top:20px">
            <label class="control-label">Pembahasan* :</label>
        </div>
        <div class="col-xs-12">
            <textarea ui-tinymce="tinymceExplanation" ng-model="selectedQuestion.explanation" ng-required="true"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12" style="margin-bottom:10px">
            <hr/>
            <a ui-sref="^" class="btn btn-default pull-right" role="button" style="margin-left:5px">Batal</a>
            <button class="btn btn-primary pull-right" role="button" type="submit" ng-hide="isCompleted" ng-disabled="eventForm.$invalid">{{"Simpan"}}</button>
        </div>
    </div>

</form>