<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand outlineless" style="margin:0px 30px 0px 30px; padding-top:5px"><img src="images/logo.png" alt="" /></a>
        <!-- <img src="images/divider.png" style="margin-top:7px;" alt="" class="img-hiden"/> -->
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-nav-std">
            <li>
                <a ui-sref="student" class="outlineless a-menu">
                    <i class="fa fa-home fa-lg"></i>
                    </i>
                    Beranda</a>
            </li>
            <li>
                <a ui-sref="student.task({eventType:'tugas'})" class="outlineless a-menu">
                    <img src="images/icon-tpls/tugas_2.png" alt="" class="icon-size"> Tugas
                </a>
            </li>
            <li>
                <a ui-sref="student.task({eventType:'kuis'})" class="outlineless a-menu">
                    <img src="images/icon-tpls/quiz_2.png" alt="" class="icon-size"> Kuis
                </a>
            </li>
            <li>
                <a ui-sref="student.task({eventType:'tryout_uas'})" class="outlineless a-menu">
                    <img src="images/icon-tpls/uas_2.png" alt="" class="icon-size"> Tryout UTS / UAS</a>
            </li>
            <li>
                <a ui-sref="student.task({eventType:'tryout_uan'})" class="outlineless a-menu">
                    <img src="images/icon-tpls/uan_2.png" alt="" class="icon-size"> Tryout UAN</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-nav-std">
            <li class="dropdown">
                <a class="dropdown-toggle click-able" data-toggle="dropdown">
                    <i class="fa fa-fw fa-bars fa-lg"></i>
                    <ul class="dropdown-menu">
                        <li>
                            <a>
                                <b style="color:#205081">{{" "+user.firstName+" "+user.lastName+" "}}</b>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="student.changePswd">
                                <i class="fa fa-fw fa-lock"></i>Ganti Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="click-able" ng-click="loggedOut()">
                                <i class="fa fa-fw fa-power-off"></i>Keluar</a>
                        </li>
                    </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>