<nav class="navbar navbar-inverse navbar-fixed-top navbar-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand outlineless" style="margin:0px 30px 0px 35px; padding-top:5px"><img src="images/logo.png" alt="" /></a>
        <img src="images/divider.png" style="margin-top:7px;" alt="" class="img-hiden" />
    </div>

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a ui-sref="teacher">
                    <i class="fa fa-home fa-lg"></i> Beranda
                </a>
            </li>
            <li>
                <a ui-sref="teacher.questionBank">
                    <img src="images/icon-tpls/bank_soal_2.png" alt="" class="icon-size"> Bank Soal
                </a>
            </li>
            <li>
                <a ui-sref="teacher.eventManagement">
                    <img src="images/icon-tpls/kelola_ujian_2.png" alt="" class="icon-size"> Kelola Ujian
                </a>
            </li>
            <li>
                <a ui-sref="teacher.chapter">
                    <img src="images/icon-tpls/kelola_sub_materi_2.png" alt="" class="icon-size"> Kelola Sub Materi
                </a>
            </li>
            <li ng-hide="true">
                <a data-target="#settings" data-toggle="collapse" href="javascript:;">
                    <i class="fa fa-cogs fa-lg"></i> Pengaturan
                    <i class="fa fa-fw fa-caret-down fa-lg"></i>
                </a>
                <ul class="collapse" id="settings">
                    <li>
                        <a ui-sref="teacher.accountSetting">
                            <i class="fa fa-caret-right fa-lg"></i> Pengaturan Akun</a>
                    </li>
                </ul>
            </li>
            <li ng-show="(type ==='demo')">
                <div class="demo-label">
                    Demo Version
                </div>
            </li>

        </ul>
        <!-- Top Menu Items -->
        <ul class="nav navbar-nav navbar-right top-nav">
            <li class="dropdown">
                <a class="dropdown-toggle click-able" data-toggle="dropdown">
                    <i class="fa fa-fw fa-bars fa-lg"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a>
                            <b style="color:#205081">{{" "+user.firstName+" "+user.lastName+" "}}</b>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="teacher.changePswd">
                            <i class="fa fa-fw fa-lock"></i>Ganti Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="click-able" ng-click="loggedOut()">
                            <i class="fa fa-fw fa-power-off"></i>Keluar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>