<div class="row-fluid col-xs-12">
    <h3 class="page-header">
        <i class="fa fa-fw fa-newspaper-o fa-lg"></i>Impor Data Guru
        <span class="pull-right">
            <a target="_self" href="assets/csv-seed/teacher.template.csv" download="teacher.template.csv" title="Unduh Templet CSV Impor Guru">
        <i class="fa fa-download"></i>
      </a>
    </span>
    </h3>

    <table class="col-xs-12">
        <tr class="thumbnail">
            <td class="col-xs-4">Unggah CSV</td>
            <td class="col-xs-6 form-control">
                <ng-csv-import content="csv.content" header="csv.header" separator="csv.separator" result="csv.result" encoding="csv.encoding"></ng-csv-import>
            </td>
            <td class="col-xs-3">
                <div class="btn btn-primary" ng-click="updateData()" ng-disabled="csv.result == null">Unggah</div>
            </td>
        </tr>
    </table>
</div>

<div class="row-fluid col-xs-12 " ng-show="data != null">
    <table ng-table="teachersTable" show-filter="true" class="table table-responsive table-striped ">
        <tr ng-repeat="teacher in data">
            <td data-title="'No'">
                {{$index+1+(teachersTable.count()*(teachersTable.page()-1))}}
            </td>
            <td data-title="'NIP'">
                {{teacher.nip}}
            </td>
            <td data-title="'Nama'">
                {{teacher.firstName+" "+teacher.lastName}}
            </td>
            <td data-title="'Tanggal Lahir'">
                {{teacher.birthPlace+", "+teacher.birthDate}}
            </td>
            <td data-title="'Alamat'">
                {{teacher.address}}
            </td>
            <td data-title="'Telpon'">
                {{teacher.phone}}
            </td>
        </tr>
    </table>

</div>
<div class="row-fluid col-xs-12" ng-show="data != null">
    <div class="form-group">
        <div>
            <form role="form" ng-submit="importTeacher()">
                <button class="btn btn-primary" type="submit">Simpan</button>
                <a ui-sref="admin" class="btn btn-default">Batal</a>
            </form>
        </div>
    </div>
</div>

<modal-spinner title="Proses Simpan" visible="showModalLoading"></modal-spinner>