<div class="row-fluid">

  <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('questionBank')">
    <img class="img-responsive" src="assets/images/bank_soal1.png" alt="" onmouseover="this.src='assets/images/bank_soal2.png'"
    onmouseout="this.src='assets/images/bank_soal1.png'">
  </div>

  <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('eventManagement')">
    <img class="img-responsive" src="assets/images/pengelolaan_acara1.png" alt="" onmouseover="this.src='assets/images/pengelolaan_acara2.png'"
    onmouseout="this.src='assets/images/pengelolaan_acara1.png'">
  </div>

  <!-- <div class="col-lg-3 col-md-3 col-xs-3 click-able" ng-click="dashboardRoute('settings')">
    <img class="img-responsive" src="assets/images/pengaturan1.png" alt="" onmouseover="this.src='assets/images/pengaturan2.png'"
    onmouseout="this.src='assets/images/pengaturan1.png'">
  </div> -->

</div>
